.container{
    height: 90vh;
    margin-top: 5vh;
}

.registerbtn{
    background-image: linear-gradient(to top left, #04aa6d 0%, #04aaaf 100%);
    color: white;
    padding: 16px 20px;
    margin: 1vh auto 8px 30%;
    border: none;
    cursor: default;
    width: 40%;
    transition: linear 0.2s;
    font-size: 16px;
    border-radius: 30px;
}

.registerbtn:hover {
    transition: linear 0.2s;
    background-image: linear-gradient(to top left, #02884b 0%, #02888d 100%);
  }

input{
    height: 40px;
}

label[for=email]{
    margin-left: 45%;
}
label[for=password]{
    margin-left: 42%;
}
label[for=confirm]{
    margin-left: 36%;
}

#terms{
    text-align: center;
}

.signin{
    background-color: transparent;
}