<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AfriFoods</title>
    <link rel="stylesheet" href="./css/customer-signup.css">
</head>
<body>
    <div id="overlay"></div>
    <div class="registration">
        <form action="/login" method="POST">
            <div class="container">
                <h1>Enter Login Credentials</h1>
                <hr>
                    <div>
                        <label for="email" class="input--label"><b>E-Mail</b></label>
                        <input type="text" name="email" id="email" placeholder="someone@example.com">
                    </div>
                    <div>
                        <label for="password" class="input--label"><b>Password</b></label>
                        <input type="password" name="password" id="password" placeholder="sup3rsecretp@ssw0rd">
                    </div>
                <button type="submit" class="registerbtn"><strong>Login</strong></button>
        </form>
    </div>
</body>
</html>

